
body{
    background-color: #fffff0
}
.backgound{
    display: flex;
    justify-content: center;
    
}
.main{
    width: 80%;
    margin: 0 auto;
    border: double rgba(0, 0, 0, 0.758) 5px;
}
.body{
    padding: 0px 5%;
}
.CCC_profile{
    height: 103px;
    width: 103px;
    
}
h1{
    text-align: center;
    font-family: 메이플스토리;
}
h4{
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 15px;
}
h3{
    width:max-content;
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 20px;
}
.QRcord{
    height: 103px;
    width: 103px;
    display: inline-block;
}
.note{
    margin: 0;
    padding-top: 80px;
    font-family: 메이플스토리;
    font-size: 15px;
}
.footer{
    border: solid 2px black;
    margin-bottom: 20px;
    padding: 5px;
    display: flex;
}
